version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: heydayrealty_web
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - static_volume:/app/staticfiles
    expose:
      - "8000"

  db:
    image: postgres:15
    container_name: heydayrealty_db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    container_name: heydayrealty_nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles

volumes:
  postgres_data:
  static_volume:

